<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.app.first.myfirstapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".controlleur.application.MyFirstApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controlleur.activity.MyFirstHelloWorldActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstViewLinearActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstViewRelativeActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstMenuAndDialogBoxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controlleur.activity.MyFirstRecycleViewActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstIntentSendActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstIntentReceiveActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstOkHttpAndWebClientActivity">
        </activity>

        <receiver
            android:name=".controlleur.broadcast.MyFirstWifiBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                //Non proposé dans l’auto-complétion.
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".controlleur.broadcast.MyFirstAirPlaneBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".controlleur.activity.MyFirstServiceAndPermissionActivity">
        </activity>

        <service
            android:name=".controlleur.service.MyFirstService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".controlleur.activity.MyFirstNotificationActivity">
        </activity>

        <receiver
            android:name=".controlleur.broadcast.MyFirstNotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <activity android:name=".controlleur.activity.MyFirst9PatchActivity">
        </activity>
        <activity android:name=".controlleur.activity.MyFirstBddActivity">
    </activity>
        <activity android:name=".controlleur.activity.MyFirstGreenDaoActivity">
        </activity>
    </application>

</manifest>